* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  // background-color: #1f1f1f;
  background: url('../assets/market-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;

  .background-mirror {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    background-color:rgba(0, 0, 0, 0.88);
    z-index: 1;
  }
}

@import "../components/CardsContainer/CardsContainer";
@import "../components/UpdateProduct/UpdateProduct";