* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #1f1f1f;
  width: 100%;
  min-height: 100vh;

  header {
    display: flex;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 3rem;
    gap: 1rem;

    .category-wrapper {
      // background-color: white;
      // border-radius: 12px;
      width: 100%;
      height: fit-content;
      margin: 0 auto;
      overflow: hidden;
      // padding: 0 1rem;

      .category-column {
        display: flex;
        width: 100%;
        gap: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 12px;
        background-color: rgb(53, 53, 53);
        color: white;

        &:not(:first-child) {
          margin-top: 0.5rem;
        }
      }
    }
  }
}